{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://kong-admin-api-preprod.dsh.digitalapicraft.com"}],"security":[{"apiKeyAuth":[]}],"paths":{"/api/v1/org/settings/ui-customisation":{"get":{"tags":["organisation-settings-controller"],"operationId":"getUiCustomisationSettings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseModelUiCustomisationSettingsModel"}}}}}},"put":{"tags":["organisation-settings-controller"],"operationId":"updateUiCustomisationSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UiCustomisationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseModelUiCustomisationModel"}}}}}}},"/api/v1/org/settings/ui-customisation/default":{"put":{"tags":["organisation-settings-controller"],"operationId":"primeDefaultUiCustomisationSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UiCustomisationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseModelUiCustomisationModel"}}}}}}},"/api/v1/org/settings/ui-customisation/active":{"put":{"tags":["organisation-settings-controller"],"operationId":"updateActiveUiCustomisationSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActiveSettingRequestModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseModelUiCustomisationModel"}}}}}}},"/api/v1/org/settings":{"get":{"tags":["organisation-settings-controller"],"operationId":"findOrganisationSettingByOrganisationId","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseModelOrgSettingsModel"}}}}}},"post":{"tags":["organisation-settings-controller"],"operationId":"createOrUpdateOrgSettings","parameters":[{"name":"requestModel","in":"query","required":true,"schema":{"$ref":"#/components/schemas/OrgSettingsRequestModel"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseModelOrgSettingsModel"}}}}}}},"/api/v1/operations/support/basic/support/email":{"post":{"tags":["operations-controller"],"operationId":"sendBasicSupportEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicSupportEmailModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseModelString"}}}}}}},"/api/v1/org/visibilities":{"get":{"tags":["organisation-controller"],"operationId":"getAllVisibilities","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseModelListVisibilityEnum"}}}}}}},"/api/v1/org/user-remaining-credits":{"get":{"tags":["organisation-controller"],"operationId":"extractUserCreditsFromOrganisation","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseModelRemainingCreditsListModel"}}}}}}},"/api/v1/org/settings/public-portals":{"get":{"tags":["organisation-settings-controller"],"operationId":"retrievePubliclyEnabledPortals","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseModelListPortalSettingsModel"}}}}}}},"/api/v1/org/roles":{"get":{"tags":["organisation-controller"],"operationId":"getAllRoles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseModelListRolesEnum"}}}}}}},"/api/v1/org/content-types":{"get":{"tags":["organisation-controller"],"operationId":"getAllSupportedContentTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseModelListDigitalContentTypeEnum"}}}}}}},"/api/v1/org/app/version":{"get":{"tags":["organisation-controller"],"operationId":"getAppVersion","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseModelString"}}}}}}}},"components":{"schemas":{"ActionElementStyleProperties":{"type":"object","properties":{"background":{"type":"string"},"foreground":{"type":"string"},"boxShadowColor":{"type":"string"},"borderRadius":{"type":"string"},"hover":{"type":"string"},"active":{"type":"string"},"themeRef":{"$ref":"#/components/schemas/ThemeRefStyleProperties"}}},"AdvancedStyleProperties":{"type":"object","properties":{"background":{"type":"string"},"foreground":{"type":"string"},"boxShadowColor":{"type":"string"},"borderRadius":{"type":"string"}}},"BackgroundStyleProperties":{"type":"object","properties":{"background":{"type":"string"},"foreground":{"type":"string"},"backgroundLighter":{"type":"string"},"backgroundLight":{"type":"string"},"backgroundDark":{"type":"string"},"backgroundDarker":{"type":"string"}}},"BasicStyleProperties":{"type":"object","properties":{"background":{"type":"string"},"foreground":{"type":"string"}}},"CardStyleProperties":{"type":"object","properties":{"background":{"type":"string"},"foreground":{"type":"string"},"boxShadowColor":{"type":"string"},"borderRadius":{"type":"string"},"secondaryText":{"type":"string"},"linkText":{"type":"string"},"borderWidth":{"type":"string"},"borderColor":{"type":"string"},"themeRef":{"$ref":"#/components/schemas/ThemeRefStyleProperties"}}},"ComponentStyleProperties":{"type":"object","properties":{"background":{"type":"string"},"foreground":{"type":"string"},"themeRef":{"$ref":"#/components/schemas/BasicStyleProperties"}}},"ComponentsModel":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/HeaderStyleProperties"},"navBar":{"$ref":"#/components/schemas/HeaderStyleProperties"},"actionElement":{"$ref":"#/components/schemas/ActionElementStyleProperties"},"card":{"$ref":"#/components/schemas/CardStyleProperties"},"cardLabelOne":{"$ref":"#/components/schemas/ComponentStyleProperties"},"cardLabelTwo":{"$ref":"#/components/schemas/ComponentStyleProperties"},"cardLabelThree":{"$ref":"#/components/schemas/ComponentStyleProperties"},"cardIcon":{"$ref":"#/components/schemas/ComponentStyleProperties"},"tabs":{"$ref":"#/components/schemas/ComponentStyleProperties"},"breadCrumbs":{"$ref":"#/components/schemas/ComponentStyleProperties"},"pagination":{"$ref":"#/components/schemas/PaginationStyleProperties"},"iconWithBg":{"$ref":"#/components/schemas/ComponentStyleProperties"},"iconWithoutBg":{"$ref":"#/components/schemas/ComponentStyleProperties"},"iconBW":{"$ref":"#/components/schemas/ComponentStyleProperties"},"formFields":{"$ref":"#/components/schemas/PaginationStyleProperties"}}},"DocumentationFileModel":{"type":"object","properties":{"fileName":{"type":"string"},"contentType":{"type":"string"},"contentPath":{"type":"string"},"fileContent":{"type":"string"}}},"ForegroundStyleProperties":{"type":"object","properties":{"background":{"type":"string"},"foreground":{"type":"string"},"foregroundLighter":{"type":"string"},"foregroundLight":{"type":"string"},"foregroundDark":{"type":"string"},"foregroundDarker":{"type":"string"}}},"HeaderStyleProperties":{"type":"object","properties":{"background":{"type":"string"},"foreground":{"type":"string"},"labelForeground":{"type":"string"},"labelBackground":{"type":"string"},"secondaryText":{"type":"string"},"themeRef":{"$ref":"#/components/schemas/ThemeRefStyleProperties"}}},"LighterBackgroundStyleProperties":{"type":"object","properties":{"background":{"type":"string"},"foreground":{"type":"string"},"backgroundLighter":{"type":"string"}}},"PaginationStyleProperties":{"type":"object","properties":{"background":{"type":"string"},"foreground":{"type":"string"},"borderRadius":{"type":"string"},"themeRef":{"$ref":"#/components/schemas/ThemeRefStyleProperties"}}},"ThemeRefStyleProperties":{"type":"object","properties":{"background":{"type":"string"},"foreground":{"type":"string"},"borderRadius":{"type":"string"}}},"ThemesModel":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/ForegroundStyleProperties"},"primary":{"$ref":"#/components/schemas/BackgroundStyleProperties"},"secondary":{"$ref":"#/components/schemas/LighterBackgroundStyleProperties"},"success":{"$ref":"#/components/schemas/BasicStyleProperties"},"error":{"$ref":"#/components/schemas/BasicStyleProperties"},"warning":{"$ref":"#/components/schemas/BasicStyleProperties"},"info":{"$ref":"#/components/schemas/BasicStyleProperties"},"advanced":{"$ref":"#/components/schemas/AdvancedStyleProperties"}}},"UiCustomisationModel":{"type":"object","properties":{"logoImage":{"$ref":"#/components/schemas/DocumentationFileModel"},"faviconImage":{"$ref":"#/components/schemas/DocumentationFileModel"},"themes":{"$ref":"#/components/schemas/ThemesModel"},"components":{"$ref":"#/components/schemas/ComponentsModel"}}},"ApiResponseModelUiCustomisationModel":{"required":["message","status_code"],"type":"object","properties":{"status_code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UiCustomisationModel"}}},"ActiveSettingRequestModel":{"type":"object","properties":{"activeSetting":{"type":"string","enum":["DEFAULT","CUSTOM"]}}},"LandingPageUploadRequestModel":{"type":"object","properties":{"portalType":{"type":"string","enum":["INTERNAL","EXTERNAL","PUBLIC","OBIE","DAC_ADMIN"]},"landingPage":{"type":"string","format":"binary"}}},"OrgSettingsRequestModel":{"type":"object","properties":{"externalModel":{"$ref":"#/components/schemas/LandingPageUploadRequestModel"},"internalModel":{"$ref":"#/components/schemas/LandingPageUploadRequestModel"},"publicModel":{"$ref":"#/components/schemas/LandingPageUploadRequestModel"},"obieModel":{"$ref":"#/components/schemas/LandingPageUploadRequestModel"},"orgSettingsModel":{"type":"string"}}},"ApiResponseModelOrgSettingsModel":{"required":["message","status_code"],"type":"object","properties":{"status_code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/OrgSettingsModel"}}},"GatewayTypeSettingsModel":{"type":"object","properties":{"gatewayType":{"type":"string","enum":["KONG","APIGEEX","MULESOFT","AZURE"]},"timeOfDay":{"type":"string"},"dayOfWeek":{"type":"string"},"frequency":{"type":"string","enum":["MONTHLY","QUARTERLY","ANNUALLY","PERPETUAL","EVERY_HOUR","EVERY_DAY","EVERY_WEEK","EVERY_MONTH"]}}},"MetadataSettingsModel":{"type":"object","properties":{"contentType":{"type":"string","enum":["API","EVENT","DIGITAL_PRODUCT","CODE_SNIPPET"]},"metadataSchema":{"type":"string"}}},"OrgSettingsModel":{"type":"object","properties":{"id":{"type":"string"},"organisationId":{"type":"string"},"portalsSettings":{"type":"array","items":{"$ref":"#/components/schemas/PortalSettingsModel"}},"minimumGoodRating":{"type":"integer","format":"int32"},"metadataSettings":{"type":"array","items":{"$ref":"#/components/schemas/MetadataSettingsModel"}},"gatewayTypeSettings":{"type":"array","items":{"$ref":"#/components/schemas/GatewayTypeSettingsModel"}},"dateLastUpdated":{"type":"string","format":"date-time"},"lastUpdatedBy":{"type":"string"}}},"PortalSettingsModel":{"type":"object","properties":{"portalType":{"type":"string","enum":["INTERNAL","EXTERNAL","PUBLIC","OBIE","DAC_ADMIN"]},"accessRole":{"type":"string","enum":["ADMIN","SUPERADMIN","USER","INTERNAL_USER","EXTERNAL_USER","OBIE_USER","ANONYMOUS_USER","THIRD_PARTY_ADMIN"]},"customerGroupNames":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean"},"defaultLandingPagePath":{"type":"string"},"customLandingPagePath":{"type":"string"},"activeLandingPage":{"type":"string","enum":["DEFAULT","CUSTOM"]}}},"BasicSupportEmailModel":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"customerEmail":{"type":"string"},"helpText":{"type":"string"}}},"ApiResponseModelString":{"required":["message","status_code"],"type":"object","properties":{"status_code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"string"}}},"ApiResponseModelListVisibilityEnum":{"required":["message","status_code"],"type":"object","properties":{"status_code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"type":"string","enum":["NONE","INTERNAL","EXTERNAL","OBIE","DAC_ADMIN","PUBLIC","ALL"]}}}},"ApiResponseModelRemainingCreditsListModel":{"required":["message","status_code"],"type":"object","properties":{"status_code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RemainingCreditsListModel"}}},"RemainingCreditsListModel":{"type":"object","properties":{"creditTypeId":{"type":"string"},"creditType":{"type":"string","enum":["API_GW_CONNECTION","DURATION","USERS","UNKNOWN","API_CALLS","AI_METER"]},"remainingCredits":{"type":"integer"},"dateLastUpdated":{"type":"string","format":"date-time"},"lastUpdatedBy":{"type":"string"}}},"ApiResponseModelUiCustomisationSettingsModel":{"required":["message","status_code"],"type":"object","properties":{"status_code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UiCustomisationSettingsModel"}}},"UiCustomisationSettingsModel":{"type":"object","properties":{"defaultSetting":{"$ref":"#/components/schemas/UiCustomisationModel"},"customSetting":{"$ref":"#/components/schemas/UiCustomisationModel"},"activeSetting":{"type":"string","enum":["DEFAULT","CUSTOM"]}}},"ApiResponseModelListPortalSettingsModel":{"required":["message","status_code"],"type":"object","properties":{"status_code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PortalSettingsModel"}}}},"ApiResponseModelListRolesEnum":{"required":["message","status_code"],"type":"object","properties":{"status_code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"type":"string","enum":["ADMIN","SUPERADMIN","USER","INTERNAL_USER","EXTERNAL_USER","OBIE_USER","ANONYMOUS_USER","THIRD_PARTY_ADMIN"]}}}},"ApiResponseModelListDigitalContentTypeEnum":{"required":["message","status_code"],"type":"object","properties":{"status_code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"type":"string","enum":["API","EVENT","DIGITAL_PRODUCT","CODE_SNIPPET"]}}}}},"securitySchemes":{"apiKeyAuth":{"type":"apiKey","name":"apikey","in":"header"}}}}